@using Fullstack.Challenge.Helpers

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title -- Challenge</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			@if (HttpContext.Current.User.Identity.IsAuthenticated)
			{
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>@Html.ActionLink("Home", "Index", "Home")</li>
						<li><a style="cursor:pointer" id='open' data-toggle="modal" data-target="#showmodal">Buy</a></li>

						<li>@Html.ActionLink("Stocks", "Index", "Stocks")</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>@Html.ActionLink("Log out", "LogOut", "Authentication")</li>
					</ul>
					<span class="navbar-right navbar-text"> @Html.Balance() gold</span>
				</div>
			}
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - New Day at Work</p>
		</footer>
	</div>


	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/app")
	@RenderSection("scripts", required: false)
	<div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				@{
					@Html.Partial("~/Views/Shopping/ModalContent.cshtml");
				}
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</body>
</html>
